# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
build/
pubspec.lock

# Android
*.apk
*.aab
*.jar
*.class
android/local.properties
android/app/src/main/res/drawable/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Codespace specific
.codespace/