body{
  font-family: Arial, sans-serif;
  background:#f4f6f8;
  margin:0;
}

h1{
  text-align:center;
}

h2{
  margin-top:20px;
}

.container{
  width:360px;
  margin:60px auto;
  background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 12px rgba(0,0,0,0.1);
}

form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

input{
  padding:10px;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:14px;
}

button{
  padding:10px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#1d4ed8;
}

hr{
  margin:25px 0;
}